@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "OpeningBalance";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="marginTop130">
    <div class="col-xs-12">
        <div class="btn-toolbar pull-left" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <div class="btn btn-default">
                    <div class="form-check height20Pixel">
                        <input class="form-check-input" type="checkbox" id="selectAll">
                        <label class="form-check-label verticalAlignTop" for="selectAll">1</label>
                    </div>
                </div>
                <button type=button class="btn btn-default"><i class="fa fa-ban" aria-hidden="true"></i> Disqualify</button>
                <button type=button class="btn btn-default"><i class="fa fa-envelope" aria-hidden="true"></i> Send email</button>
                <button type=button class="btn btn-default"><i class="fa fa-tag" aria-hidden="true"></i> Add tags</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> More <!--span class="caret"></span--></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <form class="navbar-form pull-left marginTop0">
            <input type="text" class="form-control" placeholder="Search...">
        </form>

        <div class="btn-group pull-right">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-window-maximize" aria-hidden="true"></i> <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>


      
    </div>
    <div class="col-xs-12">
        <table class="table table-bordered">
            <thead>

                <tr>
                    @foreach (System.Data.DataColumn col in Model.Columns)
                    {

                        <th><b>@col.Caption</b></th>


                    }
                </tr>

            </thead>
            <tbody>
                @foreach (System.Data.DataRow row in Model.Rows)
                {
                    <tr>

                        @foreach (System.Data.DataColumn col in Model.Columns)
                        {
                            string temp = row[col.ColumnName].ToString();
                            decimal Num = 0;
                          
                            bool isNum = decimal.TryParse(temp, out Num);
                            if (isNum == false)
                            {

                                <td>
                                    <b> @row[col.ColumnName]</b>
                                </td>
                            }
                            else
                            {

                                <td contenteditable='true'>
                                    <b> @row[col.ColumnName]</b>
                                </td>

                            }



                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>

        function SaveOpeningBalance() {

                var idArr = [];

                $('tbody tr').each(function (k, v) {
                    var trElement = $(this);
                    var tdVals = trElement.find('td:eq(0)').text().trim() + '~' +
                        trElement.find('td:eq(1)').text().trim() + '~' +
                        trElement.find('td:eq(2)').text().trim() + '~' +
                        trElement.find('td:eq(3)').text().trim()


                        idArr.push(tdVals);
            });




                var SaveLaneRate = [];
                for (var i = 0; i < idArr.length; i++) {
                    var arrElement = idArr[i].split("~");

                    item = {}
                    item["CustomerID"] = arrElement[0];
                    item["PreviousBalance"] = arrElement[3];

                    SaveLaneRate.push(item);

            }




                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("SaveOpeningBalance", "Master")",
                    method: 'POST',
                    async: 'false',
                    dataType: 'json',
                    data: JSON.stringify({
                        SaveLaneRate: SaveLaneRate
                    }),
                    success: function (result) {
                        alert("Opening Balance Added Successfully")
                        location.reload();
                    },
                    error: function () {
                        alert("Opening Balance Added Successfully")
                        location.reload();
                    }
                });
            }

</script>